.mock-layout {
  margin-top:    20px;
  margin-bottom: 20px;
}

.mock-bread {
  font-size: 13px;
  ul {
    margin-left: 0px;
    display: inline-block;
    li {
      display: inline-block;
      &:not(:first-child) {
        &:before {
          content: '>';
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

  }
}
